<h1>Posts</h1>
<table class="table table-striped">
  <% current_user.posts.each do |post| %>
    <tr>
      <th><%= post.title %> </th>
    </tr>
    <tr>
      <td><%= post.message %>  </td>
    </tr>
    <tr>
      <td>posted <%= post.created_at%>  by <%= current_user.email %></td>
    </tr>
    <tr>
  <% end %>
</table>

